body {
  
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.adminPanel{
	margin-top: 20px;
}
.login_panel_form{
	margin-top: 80px;
	border: 1px solid black;
	border-radius: 4%;
	background-color: white;
	min-height: 340px;
	

}.form-horizontal .form-group{
	margin: 0%;
}
.form-group {
    margin-bottom: 1rem;
    margin-top: 20px;
}
.form-control{
    width: -webkit-fill-available;
}
.login{
	float: left;
}
.indexing{
	padding: 0px;
	border: 1px solid black;
}
.indexing li{
 	   margin: 12px;
    font-size: 15px;

}
.navbar{
	margin-bottom: 0%;
	overflow: hidden;
  	background-color: #333;
 	position: fixed;
 	top: 0;
  	width: 100%;
  	z-index: 999;
}
.leftIndex{
    background-image: linear-gradient(black 50%,#020277);
    color: white;

}
.indexing a{
	color: #208eec;
	text-decoration: none;
}
.list-group-item{
	background-color: black;
	border: none;
}
.row {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
}
.forgot
{    margin-top: 58px;
}
ul.dropdown-menu {
    border: 1px solid;
    border-radius: 5%;
    box-shadow: 2px 3px 34px 5px;
    text-transform: uppercase;
}
select#sel1 {
    height: 31px;
    
}

.table thead tr th {
    font-size: 14px;
    font-weight: 600;
}
.input-group-text {
    position: relative;
    display: table;
    border-collapse: separate;

}
td{
	padding: 5px;
}
.wide{
	width: 65px;
}
.input-group-box {
    margin: 12px;
}
.directCheck{
	float: right;
}
ul.list-group.text-capitalize.indexing {
    position: fixed;
    overflow: scroll;
    height: 100%;
    background: black;
}



.clientName {
    margin-top: 61px;
}
select#ClientName {
    font-size: 23px;
    height: 40px;
    text-transform: uppercase;
}